<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="go-import"
      content="keshsad.com git https://github.com/keshsad/keshsad.com"
    />
    <title>{{.TabTitle}}</title>
    <link href="/static/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="">
      <h1>{{.PageTitle}}</h1>
      <p>
        My name is kesh. I'm a websites engineer, former founder, and full-stack
        producer.
      </p>
      <p>
        I build web applications with Go focused on performance and simplicity.
      </p>
      <h3>I believe in:</h3>
      <ul>
        <li>Building from first principles</li>
        <li>Understanding systems deeply</li>
        <li>Creating technology that serves humanity</li>
      </ul>
      <h3>Currently building:</h3>
      <ul>
        <li>
          A
          <a href="https://therapy-rof3km861-rishi-sadanandan.vercel.app/"
            >Stoic journal</a
          >
          to make the Internet more thoughtful
        </li>
        <li>Web infrastructure that prioritizes speed and simplicity</li>
        <li>Developer tools that compound in value</li>
      </ul>
      <h3>Previous work:</h3>
      <ul>
        <li>
          Received $20k in funding as a freshman from the
          <a href="https://iventure.illinois.edu/">iVenture Accelerator</a>
          at the Univeristy of Illinois at Urbana Champaign
        </li>
        <li>
          Led technical & business development for
          <a href="https://poeticapp.framer.website/">Poetic AI</a>, stewarding
          the accelerator the following summer
        </li>
        <li>
          Built a sidesheet
          <a href="https://en.wikipedia.org/wiki/micro-frontend">MFE</a> with
          Angular to reduce time-to-resolution by intercepting errors as an
          intern
        </li>
      </ul>
      <h3>Articles:</h3>
      <ul>
        {{range .Articles}}
        <li><a href="/article/{{.Slug}}">{{.Title}}</a></li>
        {{end}}
      </ul>
      <!--<li><a href="/frag">Against Fragmentation</a></li>-->
      <!--<li><a href="/gtmx">Go & HTMX</a></li>-->
      <!--<li><a href="/phil">Stoic Journaling</a></li>-->
      <!--<li><a href="/site">Websites Engineering</a></li>-->
      <!--<li><a href="/found">Student Founders</a></li>-->
      <!--<li><a href="/music">Full-Stack Producing</a></li>-->
      <!--<li>-->
      <!--  [A single technical blog post about something I've built/learned --->
      <!--  maybe about Go's standard library or why I chose certain technical-->
      <!--  decisions]-->
      <!--</li>-->
      <!--<li>-->
      <!--  [Or another article about how/why I spent $1k on my own personal-->
      <!--  server, (and of course how to set it up)]-->
      <!--</li>-->
      <h3>Get in touch:</h3>
      <ul>
        <li>
          Email:
          <a href="mailto:rishi@keshsad.com">rishi@keshsad.com</a>
        </li>
        <li>
          Blue Sky: <a href="bsky.app/profile/keshsad.com">keshsad.com</a>
        </li>
        <li>GitHub: <a href="https://github.com/keshsad">@keshsad</a></li>
        <li>Twitch: <a href="twitch.tv/keshsad">@keshsad</a></li>
        <li>X: <a href="https://x.com/keshsad">@keshsad</a></li>
      </ul>
    </div>
  </body>
</html>
