<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="go-import"
      content="keshsad.com git https://github.com/keshsad/keshsad.com"
    />
    <title>{{.TabTitle}}</title>
    <link href="/static/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="">
      <h1>{{.PageTitle}}</h1>
      <p>
        My name is Rishikesh Sadanandan, but you can call me kesh. I'm a founder
        🚀,
        <a href="https://github.com/keshsad/keshsad.com">websites engineer</a>
        🧑🏽‍💻, and producer 🎧. Now I'm building web applications with Go, focusing
        on performance and simplicity.
      </p>
      <p>I believe in:</p>
      <ul>
        <li>Building from first principles</li>
        <li>Understanding systems deeply</li>
        <li>Creating technology that serves humanity</li>
      </ul>
      <p>Currently building:</p>
      <ul>
        <li>
          A
          <a href="https://therapy-rof3km861-rishi-sadanandan.vercel.app/"
            >Stoic journal</a
          >
          to help me separate events from judgments
        </li>
        <li>Web infrastructure that prioritizes speed and simplicity</li>
        <li>Tools that make the internet more thoughtful</li>
      </ul>
      <p>Previous work:</p>
      <ul>
        <li>
          Received $20k in funding as a freshman from the
          <a href="https://iventure.illinois.edu/">iVenture Accelerator </a>
          at the Univeristy of Illinois at Urbana Champaign
        </li>
        <li>
          Led technical & business development for
          <a href="https://poeticapp.framer.website/">Poetic AI</a>, stewarding
          the accelerator the following summer
        </li>
        <li>
          Built a sidesheet
          <a href="https://en.wikipedia.org/wiki/micro-frontend">MFE</a> using
          Angular to intercept all errors, decreasing time-to-resolution and
          saving thousands of hours in meetings
        </li>
      </ul>
      <p>Writing:</p>
      <ul>
        <li>
          [A single technical blog post about something I've built/learned -
          maybe about Go's standard library or why I chose certain technical
          decisions]
        </li>
        <li>
          [Or another article about how/why I spent $1k on my own personal
          server, (and of course how to set it up)]
        </li>
      </ul>
      <p>Get in touch:</p>
      <ul>
        <li>
          Email:
          <a href="mailto:rishikesh.sadanandan@gmail.com"
            >rishikesh.sadanandan@gmail.com</a
          >
        </li>
        <li>GitHub: <a href="https://github.com/keshsad">@keshsad</a></li>
        <li>X: <a href="https://x.com/keshsad">@keshsad</a></li>
      </ul>
    </div>
  </body>
</html>
